APP_NAME=Enterprise RAG System
APP_ENV=development
#--------------------------------------
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=technical_documents

EMBEDDING_MODEL=BAAI/bge-small-en-v1.5