# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Qdrant Data
qdrant_storage/

# Large Files
*.pdf

# Cache
.cache/
data/cache/

# Python build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Ollama
ollama/